<script src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />

<div class="map" id="map" class="match-parent" onclick="alert('Clinica Alemana')">
  Clinica Alemana
</div>
