<table class="table table-bordered">
  <thead>
    <tr>
      <td>Lenguaje</td>
      <td>Horas Dedicadas</td>
      <td>Votos</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Habilidad of listaActualizada;let i=index" [@esVotado] = "esVotadoPar(i) ? 'cantidadPar':'cantidadImpar'">
      <td>{{ Habilidad.Lenguaje }}</td>
      <td>{{ Habilidad.Horas }}</td>
      <td>{{ Habilidad.Voto }}</td>
      <td >
        <span class="oi oi-thumb-up" (click)="AgregarVoto(i)" appSpy data-trackear-tags="habilidad Votar+"></span>
        <span class="oi oi-x" (click)="removeHabilidad(i)" appSpy data-trackear-tags="habilidad Eliminar"></span>
      </td>
    </tr>
  </tbody>
</table>
