<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      Cantidad de lenguajes aprendidos: {{ cantidadAprendida }}
    </h1>
    <div *ngIf="estadoLogin(); else loggedOut">
      <p (click)="onDeslogear()">{{ textoSalir }}</p>

      <a [routerLink]="['/admin']" class="Admin">
        Ir a seccion privada
      </a>


    </div>
    <a [routerLink]="['/mapa']">
      Ir a mapa
    </a>
    <ng-template #loggedOut>
      <p (click)="onLogear()">{{ textoIngresar  }}</p>
    </ng-template>

  </div>
</div>
