<form novalidate [formGroup]="habilidadForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputLenguaje">Lenguaje</label>
      <input
        type="text"
        class="form-control"
        id="inputLenguaje"
        placeholder="Ingrese Lenguaje"
        formControlName="lenguaje"
      />
      <div
        class="error"
        *ngIf="
          habilidadForm.get('lenguaje').hasError('required') &&
          habilidadForm.get('lenguaje').touched
        "
      >
        Lenguaje requerido
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputHoras">Horas</label>
      <input
        type="text"
        class="form-control"
        id="inputHoras"
        placeholder="Ingrese horas dedicadas"
        formControlName="horas"
      />
      <div
        class="error"
        *ngIf="
          habilidadForm.get('horas').hasError('required') &&
          habilidadForm.get('horas').touched
        "
      >
        Cantidad horas requerida
      </div>

      <div
        *ngIf="
          habilidadForm.get('horas').errors &&
          habilidadForm.get('horas').dirty &&
          habilidadForm.get('horas').errors.horasvalidas
        "
      >
        Las horas ingresadas deben ser mayor que 0
      </div>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    id="enviar"
    [disabled]="!habilidadForm.valid"
  >
    Agregar!
  </button>
</form>
