<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <app-navbar [cantidadAprendida]="cantidadHabilidades"></app-navbar>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col col-4 col-md">
      <router-outlet></router-outlet>
    </div>
    <div class="col col-8 col-md">
      <app-list-habilidades
        (NuevaHabilidadAdquirida)="procesaNuevaHabilidad($event)"
      ></app-list-habilidades>
    </div>
  </div>
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </footer>
</div>
